<div class="bg-gray-50 min-h-screen flex items-center justify-center p-5 text-gray-800">
    <div class="max-w-xl text-center flex flex-col items-center">

        <div class="animate-bounce mb-10 text-[#324795]">
            <i class="ph ph-robot text-8xl"></i>
        </div>

        <!-- <h1 class="text-6xl font-extrabold text-[#324795] mb-4 tracking-tighter">Oops!</h1> -->
        <h2 class="text-3xl font-bold text-gray-900 mb-5">🚧 Estamos trabajando en esta sección.</h2>

        <p class="text-lg text-gray-600 mb-12 max-w-md leading-relaxed">
            Estamos mejorando esta funcionalidad para brindarte una mejor experiencia.Por el momento, esta opción no se encuentra disponible.
        </p>

        <!-- <div class="flex flex-col sm:flex-row gap-4 w-full sm:w-auto">
            <button routerLink="/" class="app-button primary px-8 py-3.5 flex items-center justify-center gap-2">
                <i class="ph ph-house"></i>
                Volver al Inicio
            </button>

            <button (click)="goBack()" class="app-button soft px-8 py-3.5 flex items-center justify-center gap-2">
                <i class="ph ph-arrow-left"></i>
                Regresar
            </button>
        </div> -->

        <div class="mt-20 pt-8 border-t border-gray-100 flex items-center gap-2 text-gray-400 text-xs italic">
            <i class="ph ph-exclude"></i>
            <!-- <span>Módulo de referencia externaprincipal del sistema.</span> -->
        </div>
    </div>
</div>
