// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'sass:color';
@use '@angular/material' as mat;


html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );
}


$color-success:#10b981;
$color-error:#e11d48;
$color-warning:#f59e0b;
$color-info:#0ea5e9;
$color-text-app: #2a303d;

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  --mat-sys-corner-full: 8px;
  --mat-sys-corner-extra-large: 8px;
  --mat-sys-corner-large: 8px;
  --mat-sys-corner-medium: 8px;
  --mat-sys-corner-small: 8px;
  --mat-sys-corner-extra-small: 8px;
}

// ÉXITO
.success-snack {
  .mdc-snackbar__surface{
    margin-top: 1.5rem;
    border: 1px solid $color-success !important;
    padding: .25rem .5rem;
  }
  @include mat.snack-bar-overrides((
    container-color: color.adjust($color-success, $lightness: 59%),
    button-color: $color-success,
    supporting-text-color: $color-text-app,
    ));
    border-radius: 4px;
}

// ERROR
.error-snack {
    border-radius: 4px;
  .mdc-snackbar__surface{
    margin-top: 1.5rem;
    border: 1px solid $color-error !important;
    padding: .25rem .5rem;
  }
  @include mat.snack-bar-overrides((
    container-color: color.adjust($color-error, $lightness: 59%),
    supporting-text-color: $color-text-app,
    button-color: $color-error,
  ));
}

// ADVERTENCIA
.warning-snack {
    border-radius: 4px;
  .mdc-snackbar__surface{
    margin-top: 1.5rem;
    border: 1px solid $color-warning !important;
    padding: .25rem .5rem;
  }
  @include mat.snack-bar-overrides((
    container-color: color.adjust($color-warning, $lightness: 59%),
    supporting-text-color: $color-text-app,
    button-color: $color-warning,
  ));
}

// INFORMACIÓN
.info-snack {
    border-radius: 4px;
  .mdc-snackbar__surface{
    margin-top: 1.5rem;
    border: 1px solid $color-info !important;
    padding: .25rem .5rem;
  }
  @include mat.snack-bar-overrides((
    container-color: color.adjust($color-info, $lightness: 59%),
    supporting-text-color: $color-text-app,
    button-color: $color-info,
  ));
}

.success-snack, .error-snack, .warning-snack, .info-snack {
  animation: snack-entry 0.3s ease-out;
}

@keyframes snack-entry {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
