<section class="bg-white p-4 space-y-4 md:p-6 rounded-xl shadow">

  <div class="grid grid-cols-1 gap-4">
    <section class="flex justify-between items-center">
      <h2 class="text-lg font-semibold">Historial de versiones</h2>
    </section>
  </div>

  <div class="grid grid-cols-1 gap-4">

    <section class="overflow-x-auto table-container">


      <table mat-table [dataSource]="dataSource" class="w-full">

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef>Versión </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>


        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>


        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


      <!-- <table class="mat-elevation-z8 ">
        <thead>
          <tr>
            <th>Versión</th>
            <th>Fecha</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let v of versions">
            <td>{{ v.version }}</td>
            <td>{{ v.date }}</td>
            <td>{{ v.status }}</td>
          </tr>
        </tbody>
      </table> -->


    </section>

    <!--
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->


  </div>
</section>